
nav li{
    display: inline;
    
}
nav{
   
    height: 60px;
    background-color: black;
   padding-top: 5px;
    

}

nav a{
    color: white;
    background-color: black;
    width: 100px;
    height: 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
}
a:hover{
   
    color: rgb(0, 0, 0);
    background-color: orange;
}  
    
    
